body, html {
    background-color: #fff;
}
.OT_subscriber {
    float: left;
    margin-left: 1em;
    width: 100vh !important;
    height: 100vh !important;
}
.OT_publisher {
    float: left;
}
.error {
    color: red;
}
